
//Styles for non-grid support go here.

@supports (display: grid) {
	.grid {
		display: grid;
		margin: $card-margin-mobile;
		grid-gap: $card-margin-mobile;
		@include for-phone-landscape-up {
			grid-row-gap: 16px; // Create a variable / Maybe make this consistant at all sizes and change the magin behavior on the aside elements.
		}
		@include for-tablet-portrait-up {
			margin-left: 105px;
		}
		@include for-tablet-landscape-up {
			grid-template-columns: minmax(1fr, auto) minmax(1fr, auto);
			grid-auto-flow: row dense;
		}

	}

	.grid__section {
		display: grid;
		margin: 0;
		grid-gap: 0;
		@include for-phone-landscape-up {
			grid-template-columns: minmax(auto, 360px) 240px;
			grid-template-rows: auto auto;
		}
	}

	.grid--prototype {
		display: grid;
		margin: $card-margin-mobile;
		grid-gap: $card-margin-mobile;
		@include for-phone-landscape-up {
			margin-left: 40px;
		}
		@include for-tablet-portrait-up {
			grid-template-columns: minmax(auto, 220px) 352px;
			grid-template-rows: max-content max-content 1fr;
		}
		@include for-tablet-portrait-alt-up {
			grid-template-columns: minmax(1fr, 220px) 352px minmax(1fr, 220px);
			
		}
		@include for-tablet-landscape-up {
			margin-top: 180px;
			margin-left: 105px;
		}
	}
}

header {
	position: relative;
	margin: 64px 0 32px 0;
}

.latest {
	width: auto;
}




