.header {
	@include for-desktop-up {
		grid-column: 1 / 3;
	}
}

.header--list {
	grid-column: 1 / -1;	
}

.header__logo {
	@include for-tablet-landscape-up {
		position: fixed;
		left: 24px;
		top:120px;
	}
	svg path {
		fill: $accent-color;
	}
}

.header__logo--prototype {
	margin-top: 100px;
	@include for-tablet-portrait-up {
		grid-column: 1 / 3;
	}
	@include for-tablet-portrait-alt-up {
		grid-column: 1 / 4;
	}
	@include for-tablet-landscape-up {
		position: fixed;
		margin: 0;
		left: 24px;
		top: 76px;
	}
}

.header__intro {
	margin-top: 16px;
	max-width: 700px;
	font-weight: $regular;
	@include for-tablet-portrait-up {
		margin-top: -5px; // Aligns text with logo
	}
}

.grid__section {
	perspective: 1600px;
}

.card {
	position: relative;
	padding: 20px;
	height: 60px;

}



/* Prototype */

.info {
	max-width: 300px;
	@include for-tablet-portrait-up {
		margin-top: 24px;
	}
	@include for-tablet-portrait-alt-up {
		margin-top: 102px;
	}
}

.info--second {
	align-self: end;
	margin: -10px 0 102px 0;
	@include for-tablet-portrait-up {
		align-self: start;
	}
	@include for-tablet-portrait-alt-up {
		align-self: end;
		grid-row: 2/4;
		grid-column: 3/4;
	}
	@include for-tablet-landscape-up {
		grid-row: 1 / 3;
	}

}

.info__number {
	margin-top: 40px;
	@include for-tablet-portrait-up {
		margin-top: 0;
	}
}

.info__number {
	display: inline-block;
	border: 2px solid $primary-color;
	padding: 5px 7px 3px 7px;
	font-size: $small;
	font-weight: $semi-bold;
	font-style: normal;
	margin-bottom: 8px;
	letter-spacing: 0.06em;
}

.info__tags {
	list-style: none;
	padding: 0;
	li {
		display: inline-block;
		border: 1px solid $primary-color;
		padding: 7px 9px;
		font-size: $x-small-alt;
		font-weight: $regular;
		font-style: normal;
		margin: 0 10px 10px 0;
	}

}

.button {
	display: inline-block;
	position: relative;
	border: 2px solid $primary-color;
	font-size: $x-small;
	font-weight: $semi-bold;
	letter-spacing: 0.08em;
	padding: 16px 0px 16px 20px;
	width: 100%;
	max-width: 160px;
}

.button:hover {
	cursor: pointer;
}

.button svg {
	position: absolute;
	top: 12px;
	right: 20px;
}

.format--list {

	h1 {
		margin-top: 34px;
		font-size: $large;
		font-weight: $bold;
		letter-spacing: -0.04em;
		span {
			color: $accent-color;
		}
		@include for-tablet-portrait-up {
			margin-top: 34px; // Aligns text with logo !!! Currently Hacky
			font-size: $x-large;
		}
	}
	h3 {
		font-size: $medium-alt;
		line-height: 1.4em;
		padding-top: 16px;
		max-width: 400px;
		@include for-tablet-portrait-up {
			font-size: $medium;
			margin-top: 10px;
			margin-bottom: 30px;
		}
	}
	p {
		padding-top: 4px;
		max-width: 280px;

	}
	
}

.list-item {
	position: relative;
	display: block;
	max-width: 400px;
	height: 180px;
	// padding: 16px; Removed, may be unneeded.
	border-radius: 14px;

	h2 {
		max-width: 180px;
		position: absolute;
		bottom: 16px;
		left: 16px;
		font-size: $small;
		@include for-phone-landscape-up {
			position: relative;
			font-size: $medium-alt;
			padding-bottom: 8px;
			max-width: 200px;
			bottom: 0;
			left: 0;
		}
	}
	.list-item__info {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 26px;
	}
	.info__tags {
		position: absolute;
		list-style: none;
		padding: 0;
		bottom: 16px;
		right: 16px;
		width: 140px;
		li {
			display: inline-block;
			border: none;
			border-radius: 2px;
			background-color: #333;
			padding: 5px 7px;
			font-size: $x-small-alt;
			font-weight: $semi-bold;
			font-style: normal;
			float: right;
			margin: 4px 0 0 4px;
		}
		@include for-phone-landscape-up {
			position: relative;
			width: 200px;
			bottom: 0;
			right: 0;
			li {
				padding: 7px 9px;
				float: left;
				margin: 4px 4px 0 0;
			}
		}
	}

	@include for-phone-landscape-up {
		max-width: 332px;
		height: 450px;
	}
	@include for-tablet-portrait-up {
		
	}
}

.format--project {

	header {
		margin-bottom: 0px; // Temp
	}

	h1 {
		font-size: $large;
		font-weight: bold;
		margin-top: 32px;
		@include for-tablet-portrait-up {
			margin-top: -8px;
		}
	}

	p {
		padding: 4em 0 0 0;
		max-width: 40em;
		line-height: 1.6em;
	}

	p+p {
		padding-top: 1em;
	}

	.header__intro {
		margin-top: 16px;
		font-weight: $light;
		max-width: 320px;
		padding: 0;
	}

	.header__wrapper {
		padding-right: 160px;
		@include for-phone-portrait-only {
			padding-right: 0;
		}
	}

	.info__tags {
		float: left;
		margin-top: 16px;
		max-width: 280px;
	}

	.button {
		max-width: 140px;
		padding: 12px 0px 12px 0px;
		text-align: center;
		position: absolute;
		bottom: 0;
		right: 0;

		@include for-phone-portrait-only {
			max-width: 100%;
			position: relative;
			margin-top: 16px;
			padding: 16px 0px 16px 0px;
		}
	}

	.hero {
		margin: 64px 0 0 0;
		max-width: 100%;
	}

	.image {
		margin: 4em 0 0 0;
		max-width: 100%;
		vertical-align: top; // Removes white space reserved for descenders at base of image.
	}

	figure {
		padding: 0;
		margin: 0;
	}
}

.format--prototype {
	.info__number--large {
		font-weight: $semi-bold;
	}

	.button {
		margin-top: 22px;
	}
}


.device {
	display: none;
	@include for-phone-landscape-up {
		display: block;
		position: relative;
		width: 352px;
		height: 689px;
		margin-left: -22px;
	}
	@include for-tablet-portrait-up {
		grid-column: 2 / 3;
		grid-row: 2 / 4;
		margin-left: 0;
	}
	@include for-tablet-landscape-up {
		grid-row: 1 / 3;
	}

}

.device__prototype {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: none;
	background-color: $background-colour;
//	overflow: none;
}

.device__wrapper {
	-webkit-overflow-scrolling: touch; 
	overflow: auto;
	position: absolute;
	width: 76.7%;
	height: 69.6%;
	top: 15.2%;
	left: 11.85%;
	z-index: 2;
}

.device__phone {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.device__colour {
	position: absolute;
	width: 105.68%;
	height: 101.45%;
	right: 0;
	top: 0;
	z-index: 0;
}

.device__colour path {
	fill: $device-colour;
	// animation: pulse 5s infinite;
}

@keyframes pulse {
	50% {
		fill: #E4D0FF;
	}
}


