
:root {
	font-size: 16px;
}

/*border box model*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	font-family: $font-stack;
	font-size: $small;
	color: $primary-color;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: $background-colour;
}


h1, h2, h3, h4, p {
	margin: 0;
}

h1 {
	font-size: $medium;
	font-weight: $regular;
}

.card h2 {
	font-size: $small;
	font-weight: $semi-bold;
	font-style: italic;
}

h3 {
	font-size: $medium;
	font-weight: $semi-bold;
}

.format--prototype {
	h1 {
		font-size: $small;
		font-weight: $semi-bold;
		margin-bottom: 8px;
		max-width: 180px;
	}

	h2 {
		font-size: $small;
		font-weight: $semi-bold;
		margin-bottom: 8px;
		max-width: 180px;
	}

	p {
		font-size: $small;
		font-weight: $light;
		font-style: normal;
		margin-bottom: 32px;
	}


	.info__number {
		display: inline-block;
		border: 2px solid $primary-color;
		padding: 5px 7px 3px 7px;
		font-size: $small;
		font-weight: $semi-bold;
		font-style: normal;
		margin-bottom: 8px;
	}

	.info__tags {
		list-style: none;
		padding: 0;
		li {
			display: inline-block;
			border: 1px solid $primary-color;
			padding: 7px 9px;
			font-size: $x-small-alt;
			font-weight: $regular;
			font-style: normal;
			margin: 0 10px 10px 0;
		}

	}

}

/*
.format--case-study {

*/

p {
	font-style: italic;
}

a {
	text-decoration: none;
	color: $primary-color;
}

svg {
	fill: $primary-color;

}

a:hover{
	text-decoration: none;
	color: #777;
	fill: #777;
	svg {
		fill: #777;
	}
}


//Clearfix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
