
:root {
	font-size: 16px;
}

/*border box model*/
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: $font-stack;
	font-size: $small;
	color: $primary-color;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: $background-colour;
	max-width: 1200px;
}


h1, h2, h3, h4, p, ul {
	margin: 0;
}

h1 {
	font-size: $medium;
	font-weight: $regular;
	@include for-tablet-portrait-up {
		font-size: $large;
	}

}

.card h2 {
	font-size: $small;
	font-weight: $semi-bold;
	font-style: italic;
}

h3 {
	font-size: $medium;
	font-weight: $semi-bold;
}

.format--prototype {
	h1 {
		font-size: $small;
		font-weight: $semi-bold;
		margin-bottom: 8px;
		max-width: 180px;
		letter-spacing: 0.06em;
	}

	h2 {
		font-size: $small;
		font-weight: $semi-bold;
		margin-bottom: 8px;
		max-width: 180px;
	}

	p {
		font-size: $small;
		font-weight: $light;
		font-style: normal;
		margin-bottom: 32px;
		@include for-tablet-portrait-up {
			margin-bottom: 32px;
		}
	}
}

/*
.format--case-study {

*/

p {
	font-style: normal;
	font-weight: $light;
	line-height: 1.3em;
}

a {
	text-decoration: none;
	color: $primary-color;
	transition: .2s;
}

svg {
	fill: $primary-color;

}

a:hover{
	text-decoration: none;
	color: $hover-colour;
	fill: $hover-colour;
	border-color: $hover-colour;
	transition: .2s;
	svg {
		fill: $hover-colour;
		path {
			fill: $hover-colour;
			transition: 0.2s;
		}
	}
	.card {
		path {
			fill: inherit;
		}
	}
}


//Clearfix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
	clear: both;
}
