$font-stack: 'Montserrat', sans-serif;
$semi-bold: 600;
$regular: 400;

$x-large: 		2em;		//32
$large: 		1.5em;		//24
$medium: 		1.25em;		//20
$medium-alt: 	1.125em;	//18*
$small: 		1em;		//16
$x-small:		0.75em;		//12
$x-small-alt:	0.625em;	//10*

$column-width:	46px;
$gutter-width: 	16px;


$primary-color: #000;
$background-colour: #EDEDED;


$card-margin-mobile: 12px;
$card-margin-desktop: 0;

$markup-margin-mobile: 12px;
$markup-margin-desktop: 0;


@mixin for-phone-portrait-only {
  @media (max-width: 399px) { @content; }
}
@mixin for-phone-landscape-up {
  @media (min-width: 400px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

/* Usage

.my-box {
  padding: 10px;
  
  @include for-desktop-up {
    padding: 20px;
  }
}

*/

@mixin linearGradient($top, $bottom){
	background: linear-gradient(to right bottom,  $top 0%,$bottom 100%);
}

@mixin linearGradient--alt($top, $bottom){
	background: linear-gradient(to right bottom,  $top 0%,$bottom 100%);
}





